<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
      #textArea {
        width: 300px;
        height: 700px;
        border: 1px solid black;
        overflow-y: scroll;
      }
      .msg {
        width: 283px;
        word-wrap: break-word;
      }
      #date {
        font-size: x-small;
      }
    </style>
  </head>
  <body>
    <h1>KH Chat!!~</h1>
    <hr />
    <div id="textArea"></div>
    <hr />
    <form action="" onsubmit="return send();">
      <input type="text" id="content" />
      <button>보내기</button>
    </form>
    <hr />
    <button onclick="joinChat();">채팅방 들어가기</button>
    <button onclick="endChat();">채팅방 나가기</button>
  </body>
</html>

<script>
  // websocket 연결
  const socket = new WebSocket("ws://3.84.225.46:8080/kh-chat");
  const joinChat = () => {
    // socket =
  };

  // websocket 사용
  // 메세지 전달
  const send = (evt) => {
    // evt.preventDefault();
    const msg = document.querySelector("#content").value;
    const msgObj = {
      nick: "a",
      content: msg,
    };
    socket.send(JSON.stringify(msgObj));
    document.querySelector("#content").value = null;
    return false;
  };

  // 메세지 수신
  socket.onmessage = (evt) => {
    console.log(evt);
    const data = JSON.parse(evt.data);
    const chatBox = document.querySelector("#textArea");

    chatBox.innerHTML += `<div class="msg">
        <b>${data.nick}</b>
        <br/>
        <span id="msg">${data.content}</span>
        <br/>
        <span id="date">${data.time}</span>
      </div>`;
    chatBox.scrollTop = chatBox.scrollHeight;
  };

  // websocket 연결 종료
  const endChat = () => {
    socket.close();
  };
</script>
